<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$SftpTest</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sftptest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c23577b4-6de9-45c4-b5e8-77cd55a4d618/resourcegroups/sftp-temp/providers/Microsoft.Web/sites/SftpTest</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://sftptest.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>